.App {
    text-align: center;
}

.App-header {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
}

.App-form {
    width: 720px;
}

.App-input {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-right: 1rem;
    padding: .75rem;
    width: calc(100% - 120px);
}

.App-input:focus {
    box-shadow: 0 0 10px #fdfdfd;
    outline: none;
}

.App-btn {
    background: #fdfdfd;
    border: none;
    border-radius: 3px;
    padding: .75rem 1.5rem;
}

.App-btn:hover {
    display: inline-block;
    cursor: pointer;
}

.App-item {
    list-style: none;
    margin-bottom: .75rem;
}